# Neon Database
DATABASE_URL='postgresql://neondb_owner:npg_8m2saEIBTQVR@ep-young-snow-ad2xpcik-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Google OAuth
GOOGLE_CLIENT_ID=491511805083-821o1kdlc76vbuobbem9dhqrkpuvuk61.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback/google

# Fast2SMS OTP Service
FAST2SMS_API_KEY=Bif3QkMuyNFme60GJhlv9DCWHgqt8Tpwcn21KSLxzEsZa4XdjUKo6vOFpWdHVfBS2nIDgQ8CXGU0qAeN

# Default Admin User
ADMIN_EMAIL=hardik@coreinventory.com
ADMIN_PASSWORD=hardik@123
